.content2 {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.divisao-note2{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }